
<div class="contact">
	<div class="details">
		<div>
			<label>First</label>
			<input type="text" ng-model="$ctrl.contact.name.first">
		</div>
		<div>
			<label>Last</label>
			<input type="text" ng-model="$ctrl.contact.name.last">
		</div>
		<div>
			<label>Company</label>
			<input type="text" ng-model="$ctrl.contact.company">
		</div>
		<div>
			<label>Age</label>
			<input type="text" ng-model="$ctrl.contact.age"></div>
		<div>
			<label>Phone</label>
			<input type="text" ng-model="$ctrl.contact.phone">
		</div>
		<div>
			<label>Email</label>
			<input type="text" ng-model="$ctrl.contact.email">
		</div>
		<div>
			<label>Street</label>
			<input type="text" ng-model="$ctrl.contact.address.street">
		</div>
		<div>
			<label>City</label>
			<input type="text" ng-model="$ctrl.contact.address.city"> </div>
		<div>
			<label>State</label>
			<input type="text" ng-model="$ctrl.contact.address.state">
		</div>
		<div>
			<label>Zip</label>
			<input type="text" ng-model="$ctrl.contact.address.zip">
		</div>
		<div>
			<label>Image</label>
			<input type="text" ng-model="$ctrl.contact.picture">
		</div>
	</div>
	<hr />
	<div>
		<button class="btn btn-primary" ui-sref="^"><i class="fa fa-close"></i><span>Cancel</span></button>
		<button class="btn btn-primary" ng-click="$ctrl.save($ctrl.contact)"><i class="fa fa-save"></i><span>Save</span></button>
		<button class="btn btn-primary" ng-click="$ctrl.remove($ctrl.contact)"><i class="fa fa-close"></i><span>Delete</span></button>
	</div>
</div>
