<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
	<meta name="handheldfriendly" content="true" />
	<meta name="mobileoptimized"  content="width" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="author" content="Dwight Vietzke" />

    <title>Load static files</title>

	<!-- NgMomentum initial page setup -->
	<link rel="stylesheet" type="text/css" href="../../css/site.css">
	<link rel='shortcut icon' href='../../images/ngm.ico' />

	<!-- NgMomentum scripts -->
	<script src="../../msos/base.uc.js"></script>
	<script src="../config.js"></script>

</head>

<body ng-controller="demo.translate.staticfiles.ctrl" class="ng-cloak container">

    <p>
        <a href="#" ng-click="setLang('en_US')" translate="load.partial.root.english">English</a> |
        <a href="#" ng-click="setLang('de_DE')" translate="load.partial.root.german">German</a>
    </p>

    <h1>{{ 'load.partial.root.HEADER' | translate }}</h1>

    <h2 translate>load.partial.root.SUBHEADER</h2>

    <h2>Module A
		<a href="#" ng-click="loadModule($event, 'moduleA')">Load module</a> /
		<a href="#" ng-click="unloadModule($event, 'moduleA')">Unload module</a>
	</h2>

    <p translate>load.partial.moduleA.text</p>

    <h2>Module B <a href="#" ng-click="loadModule($event, 'moduleB')">Load module</a>/<a href="#" ng-click="unloadModule($event, 'moduleB')">Unload module</a></h2>

    <p translate>load.partial.moduleB.text</p>

	<script data-ng-ignore>
		msos.onload_func_pre.push(
			function () {
				"use strict";

				msos.console.info('Page index.html loaded!');

				msos.require("demo.translate.staticfiles");
			}
		);
	</script>

</body>
</html>