
/*	always displays modals
	use ng-show/ng-hide or ng-if to
	toggle and ng-animate to fade/animate */

.modal {
  display: block;
}
.modal-dialog {
  z-index: 1050;
}
.modal-overlay {
  background: rgba(255, 255, 255, 0.95);
}
.modal-overlay .modal-content,
.modal-overlay .modal-dialog {
  background: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
}
.has-modal .app,
.has-modal-overlay .app,
.has-modal .mobilesidebar,
.has-modal-overlay .mobilesidebar {
  pointer-events: none;
}
.has-modal-overlay .app,
.has-modal-overlay .mobilesidebar {
  -webkit-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}
