<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
	<meta name="handheldfriendly" content="true" />
	<meta name="mobileoptimized"  content="width" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="author" content="Dwight Vietzke" />

    <title>NgM Translate Demo</title>

    <style>
        body {
            text-align: center;
        }
    </style>

	<!-- NgMomentum initial page setup -->
	<link rel="stylesheet" type="text/css" href="../../site.css">
	<link rel='shortcut icon' href='../../../images/ngm.ico' />

	<!-- NgMomentum scripts -->
	<script src="../../../msos/base.uc.js"></script>
	<script src="../../config.js"></script>

</head>
<body ng-controller="demo.simple.translate.start.ctrl" class="ng-cloak container">

    <p>
        <a href="#" ng-click="setLang('en_US')">English</a> |
        <a href="#" ng-click="setLang('ru_RU')">Русский</a>
    </p>

    <h1 translate>load.predefined.HEADER</h1>

	<div>&nbsp;</div>
	
    <h2 translate>load.predefined.SUBHEADER</h2>

	<div>&nbsp;</div>

    <h3 translate>load.static.ONLY_RU</h3>

	<script data-ng-ignore>
		msos.onload_func_pre.push(
			function () {
				"use strict";

				msos.console.info('Page index.html loaded!');

				msos.require("demo.simple.translate.start");
			}
		);
	</script>

</body>
</html>