
<style data-ng-ignore>
	.radioButtondemoBasicUsage hr {
		margin-left: -20px;
		opacity: 0.3;
	}
	.radioButtondemoBasicUsage md-radio-group {
	  width: 150px;
	}
	.radioButtondemoBasicUsage p:last-child {
		padding-bottom: 50px;
	}
	.radioButtondemoBasicUsage [ng-controller] {
		padding: 0 20px;
	}
	.radioButtondemoBasicUsage .radioValue {
		margin-left: 5px;
		color: #0f9d58;
		font-weight: bold;
		padding: 5px;
	}
	.radioButtondemoBasicUsage md-icon {
		margin: 0 20px 20px;
		width: 128px;
		height: 128px;
	}
	.radioButtondemoBasicUsage .ipsum {
		color: saddlebrown;
		font-size: 0.9em;
	}

	.radioButtondemoMultiColumn h2 {
		margin-left: 15px;
	}
	.radioButtondemoMultiColumn p {
		width: 400px;
		margin-top: 10px;
		margin-left: 10px;
		padding-top: 10px;
		border-top: 2px solid #ddd;
	}
	.radioButtondemoMultiColumn .md-checked {
		background-color: #ECFAFB;
		border-radius: 2px;
	}
	.radioButtondemoMultiColumn md-button.md-raised, .radioButtondemoMultiColumn button.md-raised {
		width: 200px;
	}
	.radioButtondemoMultiColumn .row {
		border-bottom: 1px dashed #ddd;
	}
	.radioButtondemoMultiColumn div.row:last-child {
		border-bottom: 0px dashed #ddd;
	}
	.radioButtondemoMultiColumn .summary {
		width: 100%;
		padding-top: 10px;
		margin-left: 25px;
		margin-top: 20px;
		margin-bottom: -5px;
	}
	.radioButtondemoMultiColumn .title {
		font-weight: bolder;
	}
	.radioButtondemoMultiColumn .selectedUser .md-checked {
		padding: 8px;
		width: 100px;
	}
</style>

<div class="radioButtondemoBasicUsage">
    <form ng-submit="submit()" ng-controller="demo.material.controllers.radio.ctrl1">
        <p>Selected Value: <span class="radioValue">{{ data.group1 }}</span> </p>

        <md-radio-group ng-model="data.group1">

            <md-radio-button value="Apple" class="md-primary">Apple</md-radio-button>
            <md-radio-button value="Banana"> Banana </md-radio-button>
            <md-radio-button value="Mango">Mango</md-radio-button>

        </md-radio-group>

        <hr />

        <p>Selected Value: <span class="radioValue">{{ data.group2 }}</span></p>

        <md-radio-group ng-model="data.group2" class="md-primary">

            <md-radio-button ng-repeat="d in radioData" ng-value="d.value" ng-disabled=" d.isDisabled " ng-class="{'md-align-top-left': $index==1}">
                {{ d.label }}<br/>
                <span class="ipsum" ng-if="$index == 1">
            Duis placerat lectus et justo mollis, nec sodales orci congue. Vestibulum semper non urna ac suscipit.
            Vestibulum tempor, ligula id laoreet hendrerit, massa augue iaculis magna,
            sit amet dapibus tortor ligula non nibh.
          </span>

            </md-radio-button>

        </md-radio-group>

        <p>
            <md-button class="md-raised" ng-click="addItem()" type="button">Add</md-button>
            <md-button class="md-raised" ng-click="removeItem()" type="button">Remove</md-button>
        </p>

        <hr />

        <p style="margin-bottom: 0;">Graphic radio buttons need to be labeled with the <code>aria-label</code> attribute.</p>
        <p style="margin-top: 0;">Selected Avatar: <span class="radioValue">{{ data.group3 }}</span></p>

        <md-radio-group ng-model="data.group3">
            <md-radio-button ng-repeat="it in avatarData" ng-value="it.value" aria-label="{{it.title}}">
                <md-icon md-svg-icon="{{it.id}}"></md-icon>
            </md-radio-button>
        </md-radio-group>
    </form>
</div>

<div ng-controller='demo.material.controllers.radio.ctrl2 as cc' class="radioButtondemoMultiColumn bidi">

    <h2>Contact List</h2>

    <md-divider></md-divider>

    <md-radio-group ng-model="cc.selectedId">
        <div ng-repeat='person in cc.contacts' class="row">
            <div flex layout='row' layout-padding layout-align="start center">

                <div flex style="max-width:200px;">
                    {{person.title}}
                </div>

                <md-radio-button flex ng-value="person.id" class="md-primary">

                    {{person.fullName}}

                </md-radio-button>

            </div>
        </div>
    </md-radio-group>

    <md-divider></md-divider>

    <div class="summary" flex layout="row" layout-align="space-between center">
        <div class="flex-initial">
            <span class="title">Selected User</span>: <span class="md-checked">{{cc.selectedUser()}}</span>
        </div>
    </div>
</div>
