<!DOCTYPE html>
<html>
<head>

	<meta charset="utf-8" />
	<meta name="handheldfriendly" content="true" />
	<meta name="mobileoptimized"  content="width" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="Open source software for the mobile web!" />
	<meta name="author" content="Dwight Vietzke" />

    <title>NgMomentum</title>

	<link rel="stylesheet" type="text/css" href="../../css/site.css">
	<link rel='shortcut icon' href='../../images/ngm.ico' />

	<script src="../../msos/base.min.js"></script>
	<script src="../config.js"></script>

</head>
<body class="ng-cloak" data-ng-controller="samplesController">

    <nav data-ng-ignore class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="./">NgMomentum</a>
            </div>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="https://opensitemobile"><i class="fa fa-external-link"></i> OpenSiteMobile</a></li>
			</ul>
        </div>
    </nav>

	<div class="container">

		<h2 data-ng-ignore><img src="../../images/angularShield.png" alt="AngularJS Logo" />ngularJS Demos via NgMomentum and MobileSiteOS</h2>

		<p data-ng-ignore>
			Here are some simple usage examples and test pages utilizing our NgMomentum version of AngularJS, as
			managed by MobileSiteOS. The first 10 simple demo's below are template content pages injected into this
			index page as a "single page application" or SPA. These 10 use a very basic technique for lazy-loading
			AngularJS code and content.
		</p>
		<p data-ng-ignore>
			The later are individual pages demonstrating various levels of MobileSiteOS integration with our
			NgMomentum version of AngularJS. We use these examples mostly for version testing purposes.
		</p>

		<div class="row">
			<div id="demo_output" class="col-sm-7">
				<h5>Demo Output:</h5>
				<div id="sampleContent" data-ng-include="template"></div>
			</div>
			<div class="col-sm-5">
				<div class="section1">
					 <h5>Demos:</h5>
					<ol>
						<li data-ng-repeat="page in pages">
							<a class="page_link" data-ng-href="{{href}}" data-ng-click="loadPage(page)"><i class="fa {{ page.icon }}"></i> {{ page.title }}</a>
						</li>
					</ol>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<h4>Template:</h4>
				<textarea style="height: 300px; width: 100%"></textarea>
			</div>
		</div>
	</div>

	<script data-ng-ignore>
		msos.onload_func_pre.push(
			function () {
				"use strict";

				msos.console.info('Page index.html loaded!');

				msos.require("demo.ng.start");
			}
		);
	</script>

</body>
</html>
