
	<div class="container">	
		<section class="bs-sidebar">
			<ul class="nav bs-sidenav">
				<li><a data-ui-sref="bootstrap_menu" ng-click="isCollapsed = !isCollapsed">NgM UI-Bootstrap</a></li>
				<li><a data-ui-sref="material_menu" ng-click="isCollapsed = !isCollapsed">NgM Material</a></li>
				<li><a data-ui-sref="widgets_menu" ng-click="isCollapsed = !isCollapsed">NgM Widgets</a></li>
				<li><a data-ui-sref="googlechart_menu" ng-click="isCollapsed = !isCollapsed">NgM Google Charts</a></li>
			</ul>
		</section>
	</div>

