
	<div ng-controller="demo.easyfb.start.ctrl">

		<h2>angular-easyfb social plugins demo</h2>

		<p>&nbsp;</p>

		<div ng-if="pluginOn" on_ezfb_render="rendered();" class="fb-send-to-messenger" messenger_app_id="386469651480295" page_id="19292868552" color="white" size="xlarge"></div>

		<ul class="nav nav-tabs">
			<li ng-repeat="dir in SOCIAL_PLUGINS" ng-class="{active: isActive(dir)}">
				<a href="" ng-click="goto(dir)">{{ dir }}</a>
			</li>
		</ul>

		<div class="panel panel-default">
			<div class="panel-body">
				<div class="pull-left hint-text">
					<span class="text-danger" ng-show="!pluginOn">No plugin in view</span>
					<span class="text-success" ng-show="!rendering">Social plugin rendered</span>
					<span class="text-muted" ng-show="rendering && pluginOn">Rendering...</span>
				</div>
				<div class="pull-right">
					<button class="btn btn-success" ng-show="!pluginOn" ng-click="pluginOn = !pluginOn">On</button>
					<button class="btn btn-default" ng-show="pluginOn" ng-click="pluginOn = !pluginOn">Off</button>
				</div>
			</div>
		</div>
<!--
		<div class="ng-view-container">
			<div ng-view></div>
		</div>
-->
	</div>
