
	<div class="row">
		<div class="col-md-6">
			<p class="state">$state name = {{ diagnostic_state.current.name }}</p>
			<p class="state">$stateParams = {{ diagnostic_stateParams }}</p>
			<p class="state">$state url = {{ diagnostic_state.$current.url.source }}</p>
		</div>
		<div class="col-md-6">
			<div class="ngm_hint" data-ui-view="hint"></div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-4 well well-small">

			<h4>Top Contacts</h4>

			<ul>
				<li data-ng-repeat="contact in contacts | limitTo:2" data-ui-sref-active="active">
					<a data-ui-sref="contacts.detail({contactId:contact.id})">{{contact.name}}</a>
				</li>
			</ul>

			<button class="btn" ng-click="goToRandom()">Random contact</button>

			<div data-ui-view="menuTip" class="slide"></div>

		</div>
		<div data-ui-view class="col-md-8 slide">
			<!-- Our unnamed main ui-view for this template -->
		</div>
	</div>
